---
import Post from '../../layouts/Post.astro';
---
<Post title="a gaivota" date="junho 2023">

<p>Meu pai me ensinou a observar o céu. Ele era voador de asa delta e para ele o céu era seu lar. As gaivotas usam as correntes de ar quente para ganhar altitude, assim como um voador de asa delta usa. E ele sempre apontava pra elas e mostrava onde tinham as térmicas. As gaivotas serviam como um guia para ele, que sabia que onde elas estivessem ele poderia ir.</p>

<p>Ele apontava para o topo da Pedra da Gávea, que a gente conseguia ver do nosso quintal, e mostrava como as árvores estavam se mexendo e em que direção. Olha só filha, tá vindo sudoeste.</p>

<p>Quando ele morreu eu passei a olhar para o céu de uma forma diferente. Por um tempo foi triste e hoje é um alento. Ver as gaivotas na térmica é uma lembrança gostosa, eu consigo escutar a voz dele e sentir ele do meu lado apontando pra cima.</p>

<p>Tatuei com as minhas irmãs uma gaivota pra nunca esquecer. Assim como elas eram um guia para ele voar, hoje ele é um guia para que eu alce meus voos. Todas as vezes que me sinto perdida olho para a gaivota na térmica e sei que de alguma forma vou encontrar meu caminho.</p>

</Post>
