---
import Post from '../../layouts/Post.astro';
---
<Post title="carta para o eu do futuro" date="junho 2023">

<p>Sempre gostei do conceito de escrever uma carta para a Mayra do futuro, esconder em um baú, enterrar embaixo de uma árvore.. bem influenciadinha pelos filmes americanos.</p>

<p>Como eu sou uma pessoa extremamente franca e aberta sobre a minha vida, por que não fazer publicamente? Na verdade isso é uma certa incongruência, sempre fui fechada para todo o mundo que não fosse o meu pequeno e amado círculo de amigos. Mas parece que tudo que eu não falo para o mundo eu falo para eles. E como provavelmente só eles — se alguém — vai ler isso aqui, o aparente anonimato da internet e o prazer de digitar e ver as palavras se materializando nessa página em branco me levou a escrever a carta aqui.</p>

<h2>a carta</h2>

<p>Lembra do que tem escrito na sua parede agora? <em>Analise com perspectiva, sua vida é longa.</em> Essa frase é tanto verdade agora quanto é verdade para você. Não existe uma timeline correta. Não deixe a pressão de um número fazer você se sentir menos grata pela vida que você tem e que você construiu.</p>

<p>Como você tem conversado com você mesma? Você falaria assim com a Isa? É fácil esquecer e retornar a hábitos antigos e deixar a voz interna falar de uma forma negativa, pejorativa, que só vai te colocar pra baixo.</p>

<p><em>em construção..</em></p>

</Post>
