---
import Post from '../../layouts/Post.astro';
---
<Post title="como foram suas férias?" date="julho 2023">

<p>Recentemente voltei de uma viagem e um grande amigo meu não tem instagram. Então eu tive que encontrar ele e pasmem, contar como foi a viagem, abrir o meu app de fotos e ir mostrando uma a uma, contando uma história legal sobre o lugar e sobre aquele dia. Isso me fez refletir sobre como o nosso método hoje de compartilhar nossa vida está fazendo com que a gente perca muitas coisas importantes desse processo.</p>

<p>Lembra o primeiro dia pós férias escolares? A gente sempre ganhava o mesmo dever de casa — compartilhe com a turma como foram suas férias. Éramos incentivados a fazer um desenho, uma colagem, usar muitas cores e todas as canetinhas coloridas que tínhamos ou até para os mais esforçados revelar uma foto das férias e levar para mostrar para a turma.</p>

<p>Fico pensando que esse momento de reflexão e compartilhamento duas vezes ao ano cumpria um propósito muito maior do que o nosso compartilhamento diário das nossas vidas.</p>

<p>Primeiro, a gente tinha que escrever sobre como foi a experiência. Isso já forçava um processo reflexivo — de tudo que você fez, o que realmente te marcou? O que você mais gostou? O que realmente vale a pena compartilhar? Olha como em uma atividade inocente do colégio a gente tinha que refletir sobre pontos importantíssimos pro nosso autoconhecimento.</p>

<p>Segundo, tínhamos mais de um meio de expressar para os outros — a escrita e a imagem. Se você não tivesse uma foto, você era estimulado a desenhar o que você viu. As árvores diferentes, um lago, uma praia, uma cidade — exercitar sua memória e sua criatividade sobre tudo que você viu — o que mais te marcou? Qual imagem e qual momento ficou na sua memória?</p>

<p>Terceiro, eu não lembro de nenhuma reflexão de férias que ilustrava apenas um autoretrato. O processo todo te convidava a refletir sobre o outro, sobre um ambiente novo que você visitou, uma experiência que você viveu, sobre pessoas que você conheceu. Você precisava refletir e compartilhar algo além de você mesmo e como você se relacionou com essa novidade.</p>

<p>Quarto, existia uma troca. Você contava e as pessoas comentavam, você descobria que o pai de alguém morava no lugar que você foi. Que um amigo também já tinha visitado aquela praia mas não aprendeu a surfar igual você. Essa troca fortalecia o seu relacionamento com as pessoas.</p>

<p>Como os tempos mudaram. Hoje a gente nem embarcou no avião e já está compartilhando com os amigos para onde vamos. A roupa que estamos usando no aeroporto. A comida diferente que estamos comendo. Uma selfie — onde o seu rosto toma muito mais espaço na foto do que o cenário novo que você supostamente queria compartilhar com as pessoas. O rosto que seus amigos já conhecem, que não faz parte da novidade das suas férias.</p>

<p>Quando que a gente se colocou de forma tão predominante nos relatos e virou a câmera pro nosso rosto? E quando perdemos o hábito de contar histórias e passamos a compartilhar instantes — fotos desconectadas que não tem uma narrativa. Perdemos uma das coisas mais legais — que não cabem em uma legenda — a sua opinião sobre o que aconteceu. As legendas são feitas para a massa, as histórias eram feitas para os seus amigos. Você ganha em quantidade e perde em profundidade.</p>

<p>Sabe aquele meu amigo que não tem instagram? Contar pra ele sobre a minha viagem foi uma experiência muito mais rica para mim e para ele — e certamente ele é uma das pessoas que mais aprendeu sobre como foi e provavelmente uma das pessoas que passou menos tempo olhando conteúdo sobre. O resto dos meus amigos acompanharam todos os stories, mas perderam a história.</p>

</Post>
