---
import Post from '../../layouts/Post.astro';
---
<Post title="If whatever you're doing isn't working, don't try harder" date="novembro 2024">

<p>Essa frase mexeu comigo.</p>

<p>Quantas vezes eu já recomecei um processo que eu já tinha falhado várias vezes, determinando que eu falhei por minha culpa e não por conta do processo.</p>

<p>Porque o primeiro argumento é que eu tava errada? Eu não quis o suficiente, eu não me esforcei.</p>

<p>Aqui eu entendo a frase sobre ser mais gentil consigo mesma. Se essa situação acontecesse no trabalho eu não culparia a pessoa, culparia o plano que foi criado e essa pessoa executou de acordo.</p>

</Post>
