---
import Post from '../../layouts/Post.astro';
---
<Post title="integrity cleanse" date="novembro 2024">

<p><strong>white belt</strong></p>

<p>Take three days, you don't have to say everything you think, but be aware. Notice everything, write the truth towards yourself. You find the true path when-</p>

<p><strong>blue belt</strong></p>

<p>Take a friend or therapist and speak the whole truth. Say if it's true, kind and useful.</p>

<p><strong>black belt</strong></p>

<p>Don't lie to anyone. Don't eat what you don't want.</p>

<p>Eliminate "can't" or "have to". Say no.</p>

<hr />

<p>What do you yearn for?</p>

<p>Peace, belonging, freedom, happiness, love.</p>

<p>The exact verbal opposite of my worst fear is your next step towards enlightenment.</p>

<p>Go towards curiosity.</p>

<p>Shut down the part that produces anxiety.</p>

</Post>
