---
import Post from '../../layouts/Post.astro';
---
<Post title="a máquina do tempo das avós" date="julho 2023">

<p>Sonhei com a minha avó.</p>

<p>Linda, arrumada, radiante. Foi tão gostoso viver aquele abraço e aquela realidade afetuosa que não existe mais. Tem um tipo de colo que só minha avó sabia dar, um abraço e uma conversa que me confortavam com a sabedoria de uma pessoa que já viveu e já passou por tantas das etapas que eu só conheço nos meus sonhos.</p>

<p>Fico pensando que ter contato com pessoas de outras gerações é uma oportunidade de acessar uma máquina do tempo. Se você tem admiração por essa pessoa e enxerga ela feliz, te dá uma calma no coração pensar que se ela conseguiu você também consegue - construir sua família, educar seus filhos, e agora ter o privilégio de tomar um vinho com uma neta.</p>

<p>Esses momentos infelizmente não voltam mais, minha avó já faleceu tem anos e a minha tia avó hoje tem alzheimer e não me reconhece mais. Eles vivem em mim, na minha memória e a atmosfera deles é reconstituída todas as vezes que estou sozinha em casa, escutando minha bossa nova e bebendo um vinho em uma taça chique - um luxo quieto só pra mim e pra elas.</p>

</Post>
