---
import Post from '../../layouts/Post.astro';
---
<Post title="the war of art" date="julho 2023">

<p>Hoje quero falar sobre o livro The War of Art, do Steven Pressfield. Esse livro já foi recomendado várias vezes na podcast do Tim Ferris e o Derek Sivers deu nota 10 no blog dele - duas pessoas que eu considero como referências no assunto de autodesenvolvimento.</p>

<blockquote>
"Most of us have two lives. The life we live, and the unlived life within us. Between the two stands Resistance."
<cite>Steven Pressfield</cite>
</blockquote>

<p>O livro é sobre o conceito da Resistência, com R maiúsculo. É a materialização da força negativa que acontece todas as vezes que a gente tenta realizar algo na vida. Pode ser um projeto pessoal ou profissional, em qualquer circunstância que tentamos passar de um estado menos evoluído para o próximo, a Resistência vai se materializar.</p>

<p>Você já experimentou ter uma visão da vida que você poderia ter se apenas conseguisse ultrapassar os seus medos e tentar? Se sentiu um pintor que não pinta, ou um empreendedor que nunca começou seu negócio ou um escritor que não escreve? Então você sabe o que a Resistência é.</p>

<p>O Steven aborda diversos conceitos de filosofia pelo livro e ao final você sai convencido que perseguir os seus sonhos é um dever moral - é alimentar a alma e não só o corpo. Nós somos apenas a nossa consciência e a nossa vontade, o restante são apenas ferramentas para que possamos realizar a nossa obra. Incrível né? Uma visão filosófica de que todos nós temos uma obra criativa para construir através do nosso trabalho.</p>

<p>Ele fala muito sobre escutar essa voz que existe dentro de nós dizendo que deveríamos estar perseguindo outra coisa - cuidando de um orfanato, nos dedicando à música, ir fazer aquela viagem que a gente sempre posterga. O mundo é cheio de subterfúgios criados para nos distrair do incômodo que é uma vida vivida sem perseguir sua vocação. E quando enxergamos alguém que venceu a Resistência, tendemos a ter raiva, desconfiança, inveja. Tudo isso para nos distrair da insatisfação profunda que vivemos por não estar realizando a nossa.</p>

<blockquote>
"Remember our rule of thumb: The more scared we are of a work or calling, the more sure we can be that we have to do it."
<cite>Steven Pressfield</cite>
</blockquote>

<p>O equilíbrio é atingido através do movimento. Você não vai se sentir melhor tentando se convencer que você vai começar semana que vem, que hoje você tem outras prioridades.. A gente conhece muito bem as desculpas que usamos com nós mesmos porque sair da zona de conforto incomoda, é doloroso, ficar na inércia é tão mais convidativo. É muito mais fácil criticar a vida dos outros do que viver a sua.</p>

<p>Ele também corrobora uma visão que eu compartilho - o trabalho é o meio que nós temos de contribuir para o mundo. É nosso dever moral participar da sociedade, entregando a ela o que só nós conseguimos. A recompensa pelo trabalho é o trabalho - deveríamos enxergar o valor da nossa contribuição no próprio ato de contribuir.</p>

</Post>
