---
import Post from '../../layouts/Post.astro';
---
<Post title="the track" date="novembro 2024">

<p>I don't know where I'm going but I know how to get there.</p>

<p>Get attuned and be creative with the signs.</p>

<p>What brings you wonder.</p>

<p>You will probably lose the track.</p>

<p>Build community with other great trekkers.</p>

<p>The track of your life. Your way.</p>

<p>Be present.</p>

<p>Rest into the unknown.</p>

</Post>
