---
import Post from '../../layouts/Post.astro';
---
<Post title="ubuntu" date="novembro 2024">

<p>Knowing life is about the connection between people.</p>

<blockquote>"I am; therefore, we are."</blockquote>

<p>Nature makes meaning.</p>

<p>It's alive.</p>

<p>The everyday encounters make you realize you are part of it, you are not observing it.</p>

<p>Our modern life disconnects us from what we've always done to provide meaning.</p>

</Post>
