---
import Post from '../../layouts/Post.astro';
---
<Post title="a vergonha da primeira versão" date="novembro 2024">

<p>Já li que se você olha pra trás e tem orgulho da primeira versão de algo criativo que você fez, você demorou demais para lançar aquilo para o mundo. A primeira versão supostamente é para ser cringe, vergonhosa.</p>

<p>E olha só, não sei se é verdade, mas garanto que me senti assim relendo os posts daqui de um ano atrás. Um ano, TANTA coisa mudou na minha vida. Não só na minha vida fora da minha cabeça, mas também na minha vida interna, na lente que eu uso pra interpretar o mundo ao meu redor.</p>

<p>Na vida externa mudei de namorado, trabalho, comprei um cachorro e um gato. Só não me mudei, mas passei quase dois meses viajando então essa parte também não foi negligenciada.</p>

<p>Lendo a quantidade de planos dos 30 antes dos 30. Eu lembro que aquela foi uma ideia que eu tive pra tentar me animar com a vida, quem sabe se eu tivesse uma lista e um social commitment eu não me sentiria mais animada para realmente acordar e viver? Spoiler, não funcionou.</p>

<p>O que ganhei naquele ano foi muito aprendizado, em forma de muito sofrimento. E hoje sou grata, assim como sou pelos outros períodos difíceis da minha vida. Sigo trabalhando em alguns dos temas dos 30 antes dos 30, mas sem a menor pretensão de dizer que o tema estará endereçado em um ano. Como eu coloquei na primeira página desse blog, I don't know where I'm going, but I know how to get there.</p>

<p>Eu acho né. Lendo mais sobre o trabalho da Martha Beck me sinto mais confortável com o caminho que deveria seguir, a forma que eu deveria priorizar as coisas e que sinais deveria usar para guiar minhas decisões. Vamos ver.</p>

</Post>
