---
import Post from '../../layouts/Post.astro';
---
<Post title="wind. waves. roar." date="novembro 2024">

<p>Maybe you need the intensity as well.</p>

<p>The feeling of awe.</p>

<p>Wonder.</p>

<p>Delight.</p>

<p>Marvel.</p>

<p>O cheiro da maresia.</p>

<p>O medo no ar.</p>

<p>Quando você se cala diante do que está na sua frente.</p>

<p>Put yourself in the way of beauty.</p>

</Post>
